* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

main {
  margin: 0 auto;
  width: 875px;
  text-align: center;
}

#expression {
  margin-top: 50px;
  font-size: 50px;
}

#expression span {
  padding-right: 10px;
  padding-left: 10px;
}

input {
  position: absolute;
  width: 25px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: none;
  text-align: center;
  font-size: 25px;
}

#sum {
  width: 60px;
  height: 50px;
  border: none;
  color: #000;
  font-size: 50px;
}

#ruler {
  display: block;
  margin: -22px auto 0 auto;
}

#new {
  display: block;
  margin: 20px auto 0 auto;
}

#canvas-wrapper {
  position: relative;
  width: 875px;
  margin: 0 auto;
}
